[*.cs]

# IDE0090: Use 'new(...)'
dotnet_diagnostic.IDE0090.severity = none

# RCS1089: Use --/++ operator instead of assignment
dotnet_diagnostic.RCS1089.severity = none

# Default severity for all analyzer diagnostics
dotnet_analyzer_diagnostic.severity = none

# IDE0044: Add readonly modifier
dotnet_diagnostic.IDE0044.severity = none
